<a href="https://colab.research.google.com/github/jitorrealba/Curso-Machine-Learning-2023/blob/main/Trabajo_final_AMLE_V1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# DATA ADUANAS

In [ ]:
folder = "C:\\Users\\Jurgen\\Desktop\\MAE uc\\PRIMER SEMESTRE\\APLICACIONES MACHINE LEARNING PARA ECONOMIA\\TRABAJO FINAL\\exportaciones2017-2023.csv"
df = pd.read_csv(folder)
df.drop(columns=["Unnamed: 0"], inplace = True)
df

C:\Users\Jurgen\AppData\Local\Temp\ipykernel_17184\754588990.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(folder)

,AÑO,MES,REGIONSALIDA,PAISDESTINO,VIATRANSPORTE,PUERTOEMBARQUE,ADUANA,SECTOR,PRODUCTO,CODARANCELARIO,MONTOFOB,PESOTONELADAS,TIPOOPERACION
0,2017,Enero,Antofagasta,Alemania,"Marítima, Fluvial y Lacustre",Puerto Angamos,Antofagasta,Minero,Litio,28273930.0,1247642.25,194.5600,NaN
1,2017,Enero,Antofagasta,Alemania,"Marítima, Fluvial y Lacustre",Puerto Angamos,Antofagasta,Minero,Litio,28369190.0,797856.00,185.7240,NaN
2,2017,Enero,Antofagasta,Alemania,"Marítima, Fluvial y Lacustre",Puerto Angamos,Antofagasta,No minero,Resto no minería,84314910.0,26601.27,1.6250,NaN
3,2017,Enero,Antofagasta,Alemania,"Marítima, Fluvial y Lacustre",Puerto Angamos,Antofagasta,No minero,Resto no minería,84314990.0,427543.20,45.0000,NaN
4,2017,Enero,Antofagasta,Alemania,"Marítima, Fluvial y Lacustre",Puerto Angamos,Antofagasta,No minero,Resto no minería,86090000.0,68100.00,51.6200,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1432288,2023,Marzo,Valparaíso,Vietnam,"Marítima, Fluvial y Lacustre",Valparaíso,Valparaíso,No minero,Uvas,8061099.0,51840.00,41.4720,200-EXPORTACIÓN NORMAL
1432289,2023,Marzo,Valparaíso,Vietnam,"Marítima, Fluvial y Lacustre",Valparaíso,Valparaíso,No minero,Uvas,8061099.0,135084.00,37.8480,200-EXPORTACIÓN NORMAL
1432290,2023,Marzo,Valparaíso,Vietnam,"Marítima, Fluvial y Lacustre",Valparaíso,Valparaíso,No minero,Uvas,8061099.0,201318.00,108.2430,200-EXPORTACIÓN NORMAL
1432291,2023,Marzo,Valparaíso,Vietnam,"Marítima, Fluvial y Lacustre",Valparaíso,Valparaíso,No minero,Vinos,22042151.0,2314.00,1.2444,200-EXPORTACIÓN NORMAL
1432292,2023,Marzo,Valparaíso,Vietnam,"Marítima, Fluvial y Lacustre",Valparaíso,Valparaíso,No minero,Vinos,22042168.0,69315.23,11.9482,200-EXPORTACIÓN NORMAL

In [ ]:
df.columns

Index(['AÑO', 'MES', 'REGIONSALIDA', 'PAISDESTINO', 'VIATRANSPORTE',
       'PUERTOEMBARQUE', 'ADUANA', 'SECTOR', 'PRODUCTO', 'CODARANCELARIO',
       'MONTOFOB', 'PESOTONELADAS', 'TIPOOPERACION'],
      dtype='object')

In [ ]:
df.SECTOR.unique()

array(['Minero', 'No minero', 'No Minero', nan], dtype=object)

In [ ]:
df.TIPOOPERACION.unique()

array([nan, '200-EXPORTACIÓN NORMAL',
       '201-SALIDA DE MERCANCÍAS SIN CARÁCTER COMERCIAL',
       '211-RANCHO DE EXPORTACIÓN',
       '207-EXPORTACIÓN ABONA DATPA DTO. 473',
       '212-EXPORTACIÓN CONTENEDORES FABRICADOS CHILE',
       '202-EXPORTACIÓN DE SERVICIOS',
       '204-DECLARACIÓN ÚNICA DE SALIDA DE TRÁMITE SIMPLIFICADO (DUSSI)',
       '210-EXPORTACIÓN ABONA SALIDA TEMPORAL',
       '203-EXPORTACIÓN DE SERVICIOS SIMPLIFICADA',
       '213-EXPORTACIÓN ABONA DATPA DTO. 28',
       '216-DUSSI CON CARÁCTER COMERCIAL'], dtype=object)

In [ ]:
df.VIATRANSPORTE.unique()

array(['Marítima, Fluvial y Lacustre', 'Carretero/Terrestre', 'Otros',
       'Aéreo', 'Tendido Eléctrico (Aéreo, Subterráneo)', 'Ferroviario',
       'Oleoductos, Gasoductos', 'Postal', 'Carretero y Terrestre',
       'Courier/Aéreo'], dtype=object)

In [ ]:
df.PAISDESTINO.unique()

array(['Alemania', 'Argentina', 'Bangladesh', 'Bélgica', 'Belice',
       'Bolivia', 'Brasil', 'Canadá', 'China', 'Chipre', 'Colombia',
       'Corea del Sur', 'Costa Rica', 'Ecuador', 'El Salvador', 'España',
       'Estados Unidos', 'Francia', 'Grecia', 'Holanda',
       'Hong Kong (Región administrativa especial de China)', 'India',
       'Indonesia', 'Italia', 'Jamaica', 'Japón', 'Kazajstán', 'Malasia',
       'México', 'Nicaragua', 'Noruega', 'Otros', 'Panamá', 'Paraguay',
       'Perú', 'Puerto Rico', 'Reino Unido', 'Rusia', 'Sudáfrica',
       'Suecia', 'Tailandia', 'Taiwán', 'Turquía', 'Uruguay', 'Vietnam',
       'Australia', 'Guatemala', 'Nueva Zelandia', 'Dinamarca',
       'Antillas Neerlandesas', 'Arabia Saudita', 'Aruba', 'Austria',
       'Bahamas', 'Bahrein', 'Barbados', 'Benin', 'Bosnia y Herzegovina',
       'Brunei', 'Bulgaria', 'Croacia', 'Cuba', 'Egipto',
       'Emiratos Árabes Unidos', 'Filipinas', 'Finlandia', 'Georgia',
       'Ghana', 'Granada', 'Guyana', 'Haití', 'Honduras', 'Irán',
       'Irlanda', 'Isla Tonga', 'Israel', 'Jordania', 'Kuwait', 'Libano',
       'Lituania', 'Nigeria', 'Omán', 'Pakistán', 'Polonia', 'Portugal',
       'Qatar', 'República Dominicana', 'Rumania',
       'Santa Lucía (Islas  Occidentales)', 'Singapur', 'Sri Lanka',
       'Territorio Holandes en América', 'Trinidad y Tobago', 'Ucrania',
       'Venezuela', 'Territorio Británico en América',
       'Territorio Británico en Oceanía y el Pacífico',
       'Antigua y Barbuda', 'Armenia', 'Cambodia', 'Congo', 'Eslovenia',
       'Estonia', 'Hungría', 'Islas Cayman', 'Kenia', 'Laos',
       'Luxemburgo', 'Mali', 'Mongolia', 'Nueva Caledonia',
       'Polinesia Francesa', 'República Checa', 'Siria', 'Suiza',
       'Surinam', 'Territorio Francés en América',
       'Territorio Francés en Oceanía y el Pacífico', 'Tunez',
       'Uzbekistán', 'Zambia', 'Albania', 'Bermudas', 'Islandia',
       'Islas Vírgenes Británicas', 'Macedonia', 'Malta', 'Marruecos',
       'Mónaco', 'Angola', 'Anguila', 'Argelia', 'Belarus',
       'Costa de Marfil', 'Fiji', 'Gabón', 'Guam', 'Iraq',
       'Isla Maldivas', 'Islas Marianas del Norte',
       'Islas Vírgenes (EEUU)', 'Letonia', 'Liberia', 'Martinica',
       'Mauricio', 'República de Serbia',
       'República Democrática del Congo', 'Saint Kitts & Nevis',
       'Seychelles', 'Swazilandia', 'Territorio Francés en África',
       'Turcas y Caicos', 'Etiopía', 'Dominica', 'Senegal', 'Botswana',
       'Camerún', 'Guinea', 'Mauritania', 'Mozambique', 'Niue',
       'Papua Nueva Guinea', 'Sudán', 'Tanzania', 'Uganda', 'Gibraltar',
       'Burkina Faso', 'Nepal', 'San Vicente y las Granadinas',
       'Sierra Leona', 'Namibia', 'Kiribati', 'Micronesia', 'Montenegro',
       'Malawi', 'República Centroafricana', 'Islas Marshall',
       'Guinea Ecuatorial', 'Libia', 'Moldova', 'Myanmar (ex Birmania)',
       'Territorio de Dinamarca en América', 'Togo', 'San Marino',
       'Niger', 'Azerbaiyan', 'Guernsey', 'Macao', 'Liechtenstein',
       'Samoa Occidental', 'Gambia', 'Eritrea', 'Nauru', 'Cabo Verde',
       'Islas Cook', 'Djibouti', 'Guinea - Bissau', 'Islas Salomon',
       'Tuvalu', 'Chad', 'Estados Unidos de América', 'Países Bajos',
       'Taiwán (Formosa)', 'Territorio Holandés en América', 'Monserrat',
       'Groenlandia', 'República Eslovaca', 'Andorra', 'Islas Caymán',
       'Comoras', 'Timor Oriental', 'Madagascar', 'Kirgistán', 'Rwanda',
       'Territorio Portugués en Asia', 'Somalia', 'Afghanistán', 'Ciskey',
       'Tadjikistán', 'República de Yemen', 'Sao Tome y Principe',
       'Turkmenistan', 'Jersey', 'Palestina', 'Zimbabwe',
       'Territorio Norteamericano en Oceanía y el Pacífico', 'Burundi',
       'Vanuatu', 'Isla de Man', 'Santa Sede'], dtype=object)

In [ ]:
df.PRODUCTO.unique()

array(['Litio', 'Resto no minería', 'Abonos', 'Yodo', 'Resto minería',
       'Cobre', 'Minerales de cobre y sus concentrados',
       'Harina de pescado',
       'Exportación de servicios calificados por Aduanas',
       'Madera y sus manufacturas', 'Rancho de naves', 'Carne de ave',
       'Carne de porcino', 'Cecinas y embutidos', 'Celulosa', 'Cereales',
       'Cerezas', 'Duraznos y Damascos',
       'Leche y otros productos lácteos', 'Manzanas', 'Nueces de nogal',
       'Papel y cartón y sus manufacturas',
       'Resto forestales y sus derivados', 'Resto frutas y frutos',
       'Resto otros alimentos',
       'Conservas y preparaciones de pescados y mariscos', 'Ciruela',
       'Otras bebidas alcohólicas', 'Uva',
       'Minerales de hierro y sus concentrados', 'Arándanos',
       'Salmones y truchas', 'Hortalizas y tubérculos', 'Moluscos',
       'Resto productos del mar', 'Carne de bovino', 'Kiwi', 'Algas',
       'Carne de otras especies', 'Vino', 'Miel', 'Erizos', 'Limones',
       'Paltas', 'Vino espumoso', 'Mosto de uva', 'Plata',
       'Aceite de oliva', 'Oro', 'Maqui',
       'Sal gema, sal de salinas y sal marina',
       'Minerales de molibdeno y sus concentrados',
       'Minerales de cinc y sus concentrados',
       'Minerales de oro y sus concentrados',
       'Minerales de plata y sus concentrados',
       'Minerales de plomo y sus concentrados',
       'Mandarinas y Clementinas', nan, 'Resto Minería',
       'Resto No minería', 'Nitratos de potasio', 'Harinas de pescado',
       'Alambres de cobre', 'Ferroaleaciones',
       'Grasas y aceites de pescado', 'Duraznos y nectarinas',
       'Medicamentos', 'Neumáticos', 'Resto Forestales y sus derivados',
       'Resto Frutas y frutos', 'Resto Otros alimentos',
       'Semillas para siembra', 'Vinos', 'Carnes de ave', 'Ciruelas',
       'Granos de avena', 'Jugos de frutas, frutos y hortalizas', 'Peras',
       'Uvas', 'Resto Productos del mar', 'Frutillas', 'Jureles',
       'Frambuesas y moras', 'Carnes de bovino', 'Kiwis', 'Bacalaos',
       'Carnes de porcino', 'Metanol', 'Mandarinas y clementinas',
       'Mostos de uva', 'Vinos espumosos', 'Aceites de oliva',
       'Carnes de otras especies', 'Maquis',
       'Óxidos e hidróxidos de molibdeno',
       'Tomates preprarados o conservados', 'Avellanas', 'Naranjas'],
      dtype=object)

In [ ]:
df.REGIONSALIDA.unique()

array(['Antofagasta', 'Arica y Parinacota', 'Atacama',
       'Aysén del General C.I. del Campo', 'Biobío', 'Coquimbo',
       'La Araucanía', 'Los Lagos', 'Los Ríos',
       'Magallanes y la Antártica Chilena', 'Metropolitana',
       'Sin Información', 'Tarapacá', 'Valparaíso',
       'Aysén del General C. Ibañez del Campo', 'El Maule'], dtype=object)

In [ ]:
df.PUERTOEMBARQUE.unique()

array(['Puerto Angamos', 'Jama', 'Antofagasta', 'Ollagüe', 'Michilla',
       'Tocopilla', 'Caleta Coloso', 'Mejillones', 'Arica', 'Chungará',
       'Concordia (Chacalluta)', 'Huasco / Guacolda', 'Caldera',
       'Huemules', 'Coronel', 'Lirquén', 'San Vicente', 'Talcahuano',
       'Coquimbo', 'Guayacán', 'Los Vilos', 'Mahuil Malal',
       'Pino Hachado (Liucura)', 'Cardenal Samoré', 'Puerto Montt',
       'Calbuco', 'Corral', 'Monte Aymond', 'Punta Arenas',
       'San Sebastián', 'Cabo Negro', 'Aerop. C.I. Del Campo',
       'Puerto Williams', 'Aerop. A.M. Benítez',
       'Otros Puntos de Control', 'Iquique', 'Aerop. Diego Aracena',
       'Colchane', 'Patache', 'Patillos', 'San Antonio', 'Valparaíso',
       'Cristo Redentor (Los Libertadores)', 'Ventanas', 'Quintero',
       'San Pedro de Atacama', 'Aerop. Chacalluta', 'Chile Chico',
       'Chacabuco / Puerto Aysén', 'Penco', 'Chañaral / Barquito',
       'Aerop. El Tepual', 'Natales', 'Coyhaique Alto',
       'Aerop. Cerro Moreno', 'Castro',
       'Integración Austral (Monte Aymond)', 'Aerop. C. Ibañez del Campo',
       'Aerop. A. Merino Benítez', 'Aerop. Carriel Sur', 'Dorotea',
       'Pehuenche', 'Visviri', 'Lota', 'Lago Verde', 'Constitución',
       'Gregorio', 'ROTTERDAM', 'HAMBURGO', 'KAOHSIUNG', 'GNL Mejillones',
       'Palena - Carrenleufú', 'Socompa', 'Quellón',
       'Terminal Muelle Mecanizado Esperanza', 'San Francisco',
       'Cap. Huachipato', 'Terminal Graneles del Norte',
       'Muelle Huachipato', 'Aródromo La Araucanía', 'Paso Guanaco Sonso',
       'SHANGAI'], dtype=object)

# FILTRADO

## Analizamos que productos son los mas relevantes

In [ ]:
df_sum = df.groupby(['AÑO',"MES", 'PRODUCTO'])['MONTOFOB'].sum().reset_index()
df_sum

       AÑO    MES                          PRODUCTO      MONTOFOB
0     2017  Abril                            Abonos  5.212000e+07
1     2017  Abril                   Aceite de oliva  2.029980e+06
2     2017  Abril                             Algas  1.291021e+07
3     2017  Abril                         Arándanos  1.299829e+07
4     2017  Abril                      Carne de ave  1.986099e+07
...    ...    ...                               ...           ...
5099  2023  Marzo                              Uvas  2.980841e+08
5100  2023  Marzo                             Vinos  9.973989e+07
5101  2023  Marzo                   Vinos espumosos  8.932029e+05
5102  2023  Marzo                              Yodo  1.367667e+08
5103  2023  Marzo  Óxidos e hidróxidos de molibdeno  4.090116e+07

[5104 rows x 4 columns]

In [ ]:
df_año = df_sum[df_sum.AÑO == 2017].groupby(['PRODUCTO'])['MONTOFOB'].sum()
df_año.sort_values(ascending=False)

PRODUCTO
Cobre                                               1.698048e+10
Minerales de cobre y sus concentrados               1.562299e+10
Resto no minería                                    8.118046e+09
Salmones y truchas                                  4.629689e+09
Celulosa                                            2.694363e+09
Madera y sus manufacturas                           2.233276e+09
Vino                                                1.650996e+09
Uva                                                 1.360277e+09
Oro                                                 1.151157e+09
Exportación de servicios calificados por Aduanas    1.017039e+09
Minerales de hierro y sus concentrados              9.985454e+08
Litio                                               8.377753e+08
Resto otros alimentos                               7.843632e+08
Manzanas                                            6.969368e+08
Resto frutas y frutos                               6.353578e+08
Arándanos                                           6.112501e+08
Cerezas                                             5.802911e+08
Abonos                                              5.604364e+08
Rancho de naves                                     5.289542e+08
Paltas                                              5.023108e+08
Nueces de nogal                                     4.643527e+08
Carne de porcino                                    4.330059e+08
Papel y cartón y sus manufacturas                   4.131572e+08
Resto productos del mar                             3.753518e+08
Mosto de uva                                        3.518831e+08
Yodo                                                3.421995e+08
Conservas y preparaciones de pescados y mariscos    3.384809e+08
Harina de pescado                                   3.178839e+08
Ciruela                                             3.128900e+08
Carne de ave                                        2.741363e+08
Plata                                               2.224495e+08
Minerales de molibdeno y sus concentrados           2.168814e+08
Kiwi                                                2.089147e+08
Mandarinas y Clementinas                            1.743645e+08
Moluscos                                            1.734222e+08
Leche y otros productos lácteos                     1.336778e+08
Algas                                               1.303438e+08
Cereales                                            1.261473e+08
Sal gema, sal de salinas y sal marina               1.253437e+08
Resto minería                                       1.172433e+08
Hortalizas y tubérculos                             1.088992e+08
Limones                                             9.579235e+07
Erizos                                              7.228569e+07
Resto forestales y sus derivados                    6.638341e+07
Aceite de oliva                                     6.609576e+07
Cecinas y embutidos                                 5.287208e+07
Minerales de cinc y sus concentrados                4.873043e+07
Carne de otras especies                             4.486451e+07
Carne de bovino                                     3.742246e+07
Duraznos y Damascos                                 3.678331e+07
Minerales de plata y sus concentrados               2.447567e+07
Otras bebidas alcohólicas                           2.218460e+07
Vino espumoso                                       2.193113e+07
Miel                                                1.643408e+07
Minerales de oro y sus concentrados                 1.626758e+07
Minerales de plomo y sus concentrados               2.300939e+06
Maqui                                               9.205054e+05
Name: MONTOFOB, dtype: float64

In [ ]:
df_año = df_sum[df_sum.AÑO == 2018].groupby(['PRODUCTO'])['MONTOFOB'].sum()
df_año.sort_values(ascending=False)

PRODUCTO
Cobre                                    1.795293e+10
Minerales de cobre y sus concentrados    1.766238e+10
Salmones y truchas                       5.158545e+09
Resto No minería                         5.046316e+09
Celulosa                                 3.654060e+09
                                             ...
Miel                                     2.904600e+07
Vinos espumosos                          1.920806e+07
Minerales de oro y sus concentrados      3.426537e+06
Minerales de plomo y sus concentrados    1.594679e+06
Maquis                                   7.048548e+05
Name: MONTOFOB, Length: 73, dtype: float64

In [ ]:
df_sum.AÑO.unique()

array([2017, 2018, 2019, 2020, 2021, 2022, 2023], dtype=int64)

In [ ]:
for i in df_sum.AÑO.unique():
    df_año = df_sum[df_sum.AÑO == i].groupby(['PRODUCTO'])['MONTOFOB'].sum()
    df_año = df_año.sort_values(ascending=False)
    print("")
    print(i)
    print("")
    print(df_año)

2017

PRODUCTO
Cobre                                               1.698048e+10
Minerales de cobre y sus concentrados               1.562299e+10
Resto no minería                                    8.118046e+09
Salmones y truchas                                  4.629689e+09
Celulosa                                            2.694363e+09
Madera y sus manufacturas                           2.233276e+09
Vino                                                1.650996e+09
Uva                                                 1.360277e+09
Oro                                                 1.151157e+09
Exportación de servicios calificados por Aduanas    1.017039e+09
Minerales de hierro y sus concentrados              9.985454e+08
Litio                                               8.377753e+08
Resto otros alimentos                               7.843632e+08
Manzanas                                            6.969368e+08
Resto frutas y frutos                               6.353578e+08
Arándanos                                           6.112501e+08
Cerezas                                             5.802911e+08
Abonos                                              5.604364e+08
Rancho de naves                                     5.289542e+08
Paltas                                              5.023108e+08
Nueces de nogal                                     4.643527e+08
Carne de porcino                                    4.330059e+08
Papel y cartón y sus manufacturas                   4.131572e+08
Resto productos del mar                             3.753518e+08
Mosto de uva                                        3.518831e+08
Yodo                                                3.421995e+08
Conservas y preparaciones de pescados y mariscos    3.384809e+08
Harina de pescado                                   3.178839e+08
Ciruela                                             3.128900e+08
Carne de ave                                        2.741363e+08
Plata                                               2.224495e+08
Minerales de molibdeno y sus concentrados           2.168814e+08
Kiwi                                                2.089147e+08
Mandarinas y Clementinas                            1.743645e+08
Moluscos                                            1.734222e+08
Leche y otros productos lácteos                     1.336778e+08
Algas                                               1.303438e+08
Cereales                                            1.261473e+08
Sal gema, sal de salinas y sal marina               1.253437e+08
Resto minería                                       1.172433e+08
Hortalizas y tubérculos                             1.088992e+08
Limones                                             9.579235e+07
Erizos                                              7.228569e+07
Resto forestales y sus derivados                    6.638341e+07
Aceite de oliva                                     6.609576e+07
Cecinas y embutidos                                 5.287208e+07
Minerales de cinc y sus concentrados                4.873043e+07
Carne de otras especies                             4.486451e+07
Carne de bovino                                     3.742246e+07
Duraznos y Damascos                                 3.678331e+07
Minerales de plata y sus concentrados               2.447567e+07
Otras bebidas alcohólicas                           2.218460e+07
Vino espumoso                                       2.193113e+07
Miel                                                1.643408e+07
Minerales de oro y sus concentrados                 1.626758e+07
Minerales de plomo y sus concentrados               2.300939e+06
Maqui                                               9.205054e+05
Name: MONTOFOB, dtype: float64

2018

PRODUCTO
Cobre                                    1.795293e+10
Minerales de cobre y sus concentrados    1.766238e+10
Salmones y truchas                       5.158545e+09
Resto No minería                         5.046316e+09
Celulosa                                 3.654060e+09
                                             ...
Miel                                     2.904600e+07
Vinos espumosos                          1.920806e+07
Minerales de oro y sus concentrados      3.426537e+06
Minerales de plomo y sus concentrados    1.594679e+06
Maquis                                   7.048548e+05
Name: MONTOFOB, Length: 73, dtype: float64

2019

PRODUCTO
Minerales de cobre y sus concentrados    1.759963e+10
Cobre                                    1.477350e+10
Resto No minería                         5.500101e+09
Salmones y truchas                       5.120591e+09
Celulosa                                 2.660738e+09
                                             ...
Miel                                     1.251924e+07
Minerales de cinc y sus concentrados     1.011560e+07
Minerales de oro y sus concentrados      1.051546e+06
Maquis                                   7.248390e+05
Minerales de plomo y sus concentrados    7.035717e+05
Name: MONTOFOB, Length: 73, dtype: float64

2020

PRODUCTO
Minerales de cobre y sus concentrados    1.935959e+10
Cobre                                    1.597528e+10
Resto No minería                         4.480931e+09
Salmones y truchas                       4.417906e+09
Madera y sus manufacturas                2.200344e+09
                                             ...
Vinos espumosos                          1.475239e+07
Minerales de oro y sus concentrados      9.190182e+06
Miel                                     6.175311e+06
Minerales de plomo y sus concentrados    3.044382e+06
Maquis                                   2.954337e+05
Name: MONTOFOB, Length: 73, dtype: float64

2021

PRODUCTO
Minerales de cobre y sus concentrados    2.794162e+10
Cobre                                    2.331541e+10
Salmones y truchas                       5.185102e+09
Resto No minería                         4.997980e+09
Celulosa                                 3.002324e+09
                                             ...
Minerales de oro y sus concentrados      1.902293e+07
Vinos espumosos                          1.460245e+07
Miel                                     1.372640e+07
Minerales de plomo y sus concentrados    1.142798e+06
Maquis                                   8.471870e+05
Name: MONTOFOB, Length: 73, dtype: float64

2022

PRODUCTO
Minerales de cobre y sus concentrados    2.148946e+10
Cobre                                    2.051215e+10
Litio                                    8.847124e+09
Salmones y truchas                       6.601876e+09
Resto No minería                         6.357554e+09
                                             ...
Minerales de oro y sus concentrados      3.264153e+07
Miel                                     1.707214e+07
Vinos espumosos                          1.554308e+07
Maquis                                   9.600245e+05
Minerales de plomo y sus concentrados    9.000000e+02
Name: MONTOFOB, Length: 73, dtype: float64

2023

PRODUCTO
Minerales de cobre y sus concentrados    5.183261e+09
Cobre                                    5.128845e+09
Litio                                    2.612048e+09
Resto No minería                         2.028588e+09
Salmones y truchas                       1.764331e+09
                                             ...
Miel                                     7.864097e+05
Maquis                                   3.223828e+05
Erizos                                   1.607632e+05
Naranjas                                 1.101340e+05
Limones                                  7.411200e+02
Name: MONTOFOB, Length: 71, dtype: float64

## Seleccionamos 'Cobre', 'Minerales de cobre y sus concentrados', 'Conservas y preparaciones de pescados y mariscos', 'Celulosa', dejamos fuera "resto no minería" por ser una categoría de agrupación

## Reemplazamos en la columna MES los numeros correspondientes

In [ ]:
replacement_dict = {
        'Enero': "01",
        'Febrero': "02",
        'Marzo': "03",
        'Abril': "04",
        'Mayo': "05",
        'Junio': "06",
        'Julio': "07",
        'Agosto': "08",
        'Septiembre': "09",
        'Octubre': "10",
        'Noviembre': "11",
        'Diciembre': "12"
        }

df_sum['MES'] = df_sum['MES'].replace(replacement_dict)
df_sum

       AÑO MES                          PRODUCTO      MONTOFOB
0     2017  04                            Abonos  5.212000e+07
1     2017  04                   Aceite de oliva  2.029980e+06
2     2017  04                             Algas  1.291021e+07
3     2017  04                         Arándanos  1.299829e+07
4     2017  04                      Carne de ave  1.986099e+07
...    ...  ..                               ...           ...
5099  2023  03                              Uvas  2.980841e+08
5100  2023  03                             Vinos  9.973989e+07
5101  2023  03                   Vinos espumosos  8.932029e+05
5102  2023  03                              Yodo  1.367667e+08
5103  2023  03  Óxidos e hidróxidos de molibdeno  4.090116e+07

[5104 rows x 4 columns]

Filtrado por productos que nos interesan

In [ ]:
df2 = df_sum[df_sum["PRODUCTO"].isin(['Cobre','Minerales de cobre y sus concentrados','Conservas y preparaciones de pescados y mariscos','Celulosa'])]

In [ ]:
df2.head(5)

     AÑO MES                                          PRODUCTO      MONTOFOB
9   2017  04                                          Celulosa  1.935350e+08
13  2017  04                                             Cobre  1.214346e+09
14  2017  04  Conservas y preparaciones de pescados y mariscos  2.730029e+07
29  2017  04             Minerales de cobre y sus concentrados  7.986530e+08
64  2017  08                                          Celulosa  2.959331e+08

In [ ]:
df2['AÑO']= df2['AÑO'].astype(str)
df2['time_concatenate'] = df2[['MES', 'AÑO']].agg('-'.join, axis=1)
df2

C:\Users\Jurgen\AppData\Local\Temp\ipykernel_17184\4034395665.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['AÑO']= df2['AÑO'].astype(str)
C:\Users\Jurgen\AppData\Local\Temp\ipykernel_17184\4034395665.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['time_concatenate'] = df2[['MES', 'AÑO']].agg('-'.join, axis=1)

,AÑO,MES,PRODUCTO,MONTOFOB,time_concatenate
9,2017,04,Celulosa,1.935350e+08,04-2017
13,2017,04,Cobre,1.214346e+09,04-2017
14,2017,04,Conservas y preparaciones de pescados y mariscos,2.730029e+07,04-2017
29,2017,04,Minerales de cobre y sus concentrados,7.986530e+08,04-2017
64,2017,08,Celulosa,2.959331e+08,08-2017
...,...,...,...,...,...
5004,2023,02,Minerales de cobre y sus concentrados,1.491082e+09,02-2023
5046,2023,03,Celulosa,2.456172e+08,03-2023
5049,2023,03,Cobre,1.817756e+09,03-2023
5050,2023,03,Conservas y preparaciones de pescados y mariscos,4.653096e+07,03-2023
5074,2023,03,Minerales de cobre y sus concentrados,2.024558e+09,03-2023

In [ ]:
df2['month_year'] = pd.to_datetime(df2['time_concatenate'], format='%m-%Y')
df2.drop("time_concatenate", axis = 1, inplace = True)
df2

C:\Users\Jurgen\AppData\Local\Temp\ipykernel_17184\1000238117.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['month_year'] = pd.to_datetime(df2['time_concatenate'], format='%m-%Y')
C:\Users\Jurgen\AppData\Local\Temp\ipykernel_17184\1000238117.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop("time_concatenate", axis = 1, inplace = True)

,AÑO,MES,PRODUCTO,MONTOFOB,month_year
9,2017,04,Celulosa,1.935350e+08,2017-04-01
13,2017,04,Cobre,1.214346e+09,2017-04-01
14,2017,04,Conservas y preparaciones de pescados y mariscos,2.730029e+07,2017-04-01
29,2017,04,Minerales de cobre y sus concentrados,7.986530e+08,2017-04-01
64,2017,08,Celulosa,2.959331e+08,2017-08-01
...,...,...,...,...,...
5004,2023,02,Minerales de cobre y sus concentrados,1.491082e+09,2023-02-01
5046,2023,03,Celulosa,2.456172e+08,2023-03-01
5049,2023,03,Cobre,1.817756e+09,2023-03-01
5050,2023,03,Conservas y preparaciones de pescados y mariscos,4.653096e+07,2023-03-01
5074,2023,03,Minerales de cobre y sus concentrados,2.024558e+09,2023-03-01

In [ ]:
df2 = df2.sort_values('month_year')
df2

,AÑO,MES,PRODUCTO,MONTOFOB,month_year
193,2017,01,Minerales de cobre y sus concentrados,1.456703e+09,2017-01-01
178,2017,01,Conservas y preparaciones de pescados y mariscos,2.407094e+07,2017-01-01
177,2017,01,Cobre,1.353766e+09,2017-01-01
173,2017,01,Celulosa,1.737715e+08,2017-01-01
247,2017,02,Minerales de cobre y sus concentrados,8.475640e+08,2017-02-01
...,...,...,...,...,...
5004,2023,02,Minerales de cobre y sus concentrados,1.491082e+09,2023-02-01
5050,2023,03,Conservas y preparaciones de pescados y mariscos,4.653096e+07,2023-03-01
5046,2023,03,Celulosa,2.456172e+08,2023-03-01
5049,2023,03,Cobre,1.817756e+09,2023-03-01
5074,2023,03,Minerales de cobre y sus concentrados,2.024558e+09,2023-03-01

In [ ]:
df2.dtypes

AÑO                   object
MES                   object
PRODUCTO              object
MONTOFOB             float64
month_year    datetime64[ns]
dtype: object

In [ ]:
df2.PRODUCTO.unique()

array(['Minerales de cobre y sus concentrados',
       'Conservas y preparaciones de pescados y mariscos', 'Cobre',
       'Celulosa'], dtype=object)

In [ ]:
df2 = df2.drop(["AÑO","MES"], axis = 1)
df2

,PRODUCTO,MONTOFOB,month_year
193,Minerales de cobre y sus concentrados,1.456703e+09,2017-01-01
178,Conservas y preparaciones de pescados y mariscos,2.407094e+07,2017-01-01
177,Cobre,1.353766e+09,2017-01-01
173,Celulosa,1.737715e+08,2017-01-01
247,Minerales de cobre y sus concentrados,8.475640e+08,2017-02-01
...,...,...,...
5004,Minerales de cobre y sus concentrados,1.491082e+09,2023-02-01
5050,Conservas y preparaciones de pescados y mariscos,4.653096e+07,2023-03-01
5046,Celulosa,2.456172e+08,2023-03-01
5049,Cobre,1.817756e+09,2023-03-01
5074,Minerales de cobre y sus concentrados,2.024558e+09,2023-03-01

In [ ]:
df2 = df2.pivot_table(index='month_year', columns='PRODUCTO', values='MONTOFOB')

# Reset the index of the pivoted dataframe
df2 = df2.reset_index()

# Print the pivoted dataframe
df2

PRODUCTO,month_year,Celulosa,Cobre,Conservas y preparaciones de pescados y mariscos,Minerales de cobre y sus concentrados
0,2017-01-01,1.737715e+08,1.353766e+09,24070942.09,1.456703e+09
1,2017-02-01,1.841770e+08,1.183174e+09,22961853.75,8.475640e+08
2,2017-03-01,2.430942e+08,1.293973e+09,30652758.14,1.118963e+09
3,2017-04-01,1.935350e+08,1.214346e+09,27300293.46,7.986530e+08
4,2017-05-01,2.017455e+08,1.323329e+09,37174585.32,1.208682e+09
...,...,...,...,...,...
70,2022-11-01,1.799459e+08,1.558817e+09,24680561.96,2.128952e+09
71,2022-12-01,2.462602e+08,1.498730e+09,27902345.50,1.735394e+09
72,2023-01-01,2.677935e+08,1.734285e+09,23030631.25,1.667621e+09
73,2023-02-01,1.679317e+08,1.576804e+09,30035959.85,1.491082e+09
74,2023-03-01,2.456172e+08,1.817756e+09,46530955.23,2.024558e+09

In [ ]:
df2.set_index('month_year', inplace = True)

In [ ]:
df2.columns.name = None

In [ ]:
df2.columns

Index(['Celulosa', 'Cobre', 'Conservas y preparaciones de pescados y mariscos',
       'Minerales de cobre y sus concentrados'],
      dtype='object')

In [ ]:
df2.index

DatetimeIndex(['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01',
               '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
               '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01',
               '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
               '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
               '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01',
               '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
               '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01',
               '2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
               '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01',
               '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01',
               '2023-01-01', '2023-02-01', '2023-03-01'],
              dtype='datetime64[ns]', name='month_year', freq=None)

In [ ]:
df2

,Celulosa,Cobre,Conservas y preparaciones de pescados y mariscos,Minerales de cobre y sus concentrados
month_year,,,,
2017-01-01,1.737715e+08,1.353766e+09,24070942.09,1.456703e+09
2017-02-01,1.841770e+08,1.183174e+09,22961853.75,8.475640e+08
2017-03-01,2.430942e+08,1.293973e+09,30652758.14,1.118963e+09
2017-04-01,1.935350e+08,1.214346e+09,27300293.46,7.986530e+08
2017-05-01,2.017455e+08,1.323329e+09,37174585.32,1.208682e+09
...,...,...,...,...
2022-11-01,1.799459e+08,1.558817e+09,24680561.96,2.128952e+09
2022-12-01,2.462602e+08,1.498730e+09,27902345.50,1.735394e+09
2023-01-01,2.677935e+08,1.734285e+09,23030631.25,1.667621e+09
2023-02-01,1.679317e+08,1.576804e+09,30035959.85,1.491082e+09
2023-03-01,2.456172e+08,1.817756e+09,46530955.23,2.024558e+09

## CARGAMOS LA BASE DE DATOS ECONOMICOS

In [ ]:
df_eco = pd.read_csv("C:\\Users\\Jurgen\\Python Projects JP\\Aplicaciones de Machine Learning para Economía\\data_economica.csv")
df_eco

,periodo,Real_Brasil/ USD,Peso_Chile/ USD,Yuan_China/ USD,Yen_Japon/ USD,TPM_chile,TPM_usa,TPM_china,IPI_Chile,IPM_China,IPI_Japon,IPI_Brasil,IPI_EUA,Inv. de B.M.L. (Toneladas Metricas),Precio BM ($/mt),Unnamed: 15
0,2010-01-01,1.77,500.66,6.83,91.17,0.50,0.11,NaN,NaN,55.8,0.022,0.1896,0.006,541.050,171.66,4.0
1,2010-02-01,1.85,532.56,6.83,90.20,0.50,0.13,NaN,NaN,52.0,0.025,0.1588,0.009,549.725,167.30,NaN
2,2010-03-01,1.79,523.16,6.83,90.51,0.50,0.16,NaN,NaN,55.1,-0.009,0.1695,0.001,514.325,183.10,NaN
3,2010-04-01,1.76,520.62,6.83,93.40,0.50,0.20,NaN,NaN,55.7,0.003,0.1862,0.001,499.300,207.59,NaN
4,2010-05-01,1.81,533.21,6.83,92.02,0.50,0.20,NaN,NaN,53.9,0.013,0.1655,0.008,476.725,187.03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,2022-11-01,5.28,917.05,7.18,142.24,11.25,3.78,3.65,-0.092,48.0,-0.026,0.0040,-0.001,89.700,169.01,NaN
155,2022-12-01,5.24,875.66,6.99,135.08,11.25,3.10,3.65,29.120,15.2,29.120,30.1200,29.120,88.925,184.30,NaN
156,2023-01-01,4.10,826.34,5.10,130.42,11.25,4.33,3.65,-0.041,50.1,-0.001,0.0090,-0.007,75.225,198.82,NaN
157,2023-02-01,5.17,798.26,6.84,132.81,11.25,4.57,3.65,-0.016,52.6,-0.046,-0.0130,0.000,NaN,209.10,NaN
158,2023-03-01,5.21,809.50,5.10,133.81,11.25,4.65,3.65,-0.036,51.9,0.045,0.0030,0.000,NaN,203.58,NaN

In [ ]:
df_eco.dtypes

periodo                                  object
Real_Brasil/ USD                        float64
Peso_Chile/ USD                         float64
Yuan_China/ USD                         float64
Yen_Japon/ USD                          float64
 TPM_chile                              float64
TPM_usa                                 float64
TPM_china                               float64
IPI_Chile                               float64
IPM_China                               float64
IPI_Japon                               float64
IPI_Brasil                              float64
IPI_EUA                                 float64
Inv. de B.M.L.  (Toneladas Metricas)    float64
Precio BM ($/mt)                        float64
Unnamed: 15                             float64
dtype: object

In [ ]:
df_eco.periodo = pd.to_datetime(df_eco.periodo)
df_eco.set_index('periodo', inplace = True)
df_eco

,Real_Brasil/ USD,Peso_Chile/ USD,Yuan_China/ USD,Yen_Japon/ USD,TPM_chile,TPM_usa,TPM_china,IPI_Chile,IPM_China,IPI_Japon,IPI_Brasil,IPI_EUA,Inv. de B.M.L. (Toneladas Metricas),Precio BM ($/mt),Unnamed: 15
periodo,,,,,,,,,,,,,,,
2010-01-01,1.77,500.66,6.83,91.17,0.50,0.11,NaN,NaN,55.8,0.022,0.1896,0.006,541.050,171.66,4.0
2010-02-01,1.85,532.56,6.83,90.20,0.50,0.13,NaN,NaN,52.0,0.025,0.1588,0.009,549.725,167.30,NaN
2010-03-01,1.79,523.16,6.83,90.51,0.50,0.16,NaN,NaN,55.1,-0.009,0.1695,0.001,514.325,183.10,NaN
2010-04-01,1.76,520.62,6.83,93.40,0.50,0.20,NaN,NaN,55.7,0.003,0.1862,0.001,499.300,207.59,NaN
2010-05-01,1.81,533.21,6.83,92.02,0.50,0.20,NaN,NaN,53.9,0.013,0.1655,0.008,476.725,187.03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-01,5.28,917.05,7.18,142.24,11.25,3.78,3.65,-0.092,48.0,-0.026,0.0040,-0.001,89.700,169.01,NaN
2022-12-01,5.24,875.66,6.99,135.08,11.25,3.10,3.65,29.120,15.2,29.120,30.1200,29.120,88.925,184.30,NaN
2023-01-01,4.10,826.34,5.10,130.42,11.25,4.33,3.65,-0.041,50.1,-0.001,0.0090,-0.007,75.225,198.82,NaN
2023-02-01,5.17,798.26,6.84,132.81,11.25,4.57,3.65,-0.016,52.6,-0.046,-0.0130,0.000,NaN,209.10,NaN
2023-03-01,5.21,809.50,5.10,133.81,11.25,4.65,3.65,-0.036,51.9,0.045,0.0030,0.000,NaN,203.58,NaN

In [ ]:
df_eco.dtypes

Real_Brasil/ USD                        float64
Peso_Chile/ USD                         float64
Yuan_China/ USD                         float64
Yen_Japon/ USD                          float64
 TPM_chile                              float64
TPM_usa                                 float64
TPM_china                               float64
IPI_Chile                               float64
IPM_China                               float64
IPI_Japon                               float64
IPI_Brasil                              float64
IPI_EUA                                 float64
Inv. de B.M.L.  (Toneladas Metricas)    float64
Precio BM ($/mt)                        float64
Unnamed: 15                             float64
dtype: object

In [ ]:
df_eco.drop("Unnamed: 15", axis = 1, inplace = True)
df_eco

,Real_Brasil/ USD,Peso_Chile/ USD,Yuan_China/ USD,Yen_Japon/ USD,TPM_chile,TPM_usa,TPM_china,IPI_Chile,IPM_China,IPI_Japon,IPI_Brasil,IPI_EUA,Inv. de B.M.L. (Toneladas Metricas),Precio BM ($/mt)
periodo,,,,,,,,,,,,,,
2010-01-01,1.77,500.66,6.83,91.17,0.50,0.11,NaN,NaN,55.8,0.022,0.1896,0.006,541.050,171.66
2010-02-01,1.85,532.56,6.83,90.20,0.50,0.13,NaN,NaN,52.0,0.025,0.1588,0.009,549.725,167.30
2010-03-01,1.79,523.16,6.83,90.51,0.50,0.16,NaN,NaN,55.1,-0.009,0.1695,0.001,514.325,183.10
2010-04-01,1.76,520.62,6.83,93.40,0.50,0.20,NaN,NaN,55.7,0.003,0.1862,0.001,499.300,207.59
2010-05-01,1.81,533.21,6.83,92.02,0.50,0.20,NaN,NaN,53.9,0.013,0.1655,0.008,476.725,187.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-01,5.28,917.05,7.18,142.24,11.25,3.78,3.65,-0.092,48.0,-0.026,0.0040,-0.001,89.700,169.01
2022-12-01,5.24,875.66,6.99,135.08,11.25,3.10,3.65,29.120,15.2,29.120,30.1200,29.120,88.925,184.30
2023-01-01,4.10,826.34,5.10,130.42,11.25,4.33,3.65,-0.041,50.1,-0.001,0.0090,-0.007,75.225,198.82
2023-02-01,5.17,798.26,6.84,132.81,11.25,4.57,3.65,-0.016,52.6,-0.046,-0.0130,0.000,NaN,209.10
2023-03-01,5.21,809.50,5.10,133.81,11.25,4.65,3.65,-0.036,51.9,0.045,0.0030,0.000,NaN,203.58

In [ ]:
data = pd.concat([df2, df_eco], axis =1)
data

,Celulosa,Cobre,Conservas y preparaciones de pescados y mariscos,Minerales de cobre y sus concentrados,Real_Brasil/ USD,Peso_Chile/ USD,Yuan_China/ USD,Yen_Japon/ USD,TPM_chile,TPM_usa,TPM_china,IPI_Chile,IPM_China,IPI_Japon,IPI_Brasil,IPI_EUA,Inv. de B.M.L. (Toneladas Metricas),Precio BM ($/mt)
2010-01-01,NaN,NaN,NaN,NaN,1.77,500.66,6.83,91.17,0.50,0.11,NaN,NaN,55.8,0.022,0.1896,0.006,541.050,171.66
2010-02-01,NaN,NaN,NaN,NaN,1.85,532.56,6.83,90.20,0.50,0.13,NaN,NaN,52.0,0.025,0.1588,0.009,549.725,167.30
2010-03-01,NaN,NaN,NaN,NaN,1.79,523.16,6.83,90.51,0.50,0.16,NaN,NaN,55.1,-0.009,0.1695,0.001,514.325,183.10
2010-04-01,NaN,NaN,NaN,NaN,1.76,520.62,6.83,93.40,0.50,0.20,NaN,NaN,55.7,0.003,0.1862,0.001,499.300,207.59
2010-05-01,NaN,NaN,NaN,NaN,1.81,533.21,6.83,92.02,0.50,0.20,NaN,NaN,53.9,0.013,0.1655,0.008,476.725,187.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-01,1.799459e+08,1.558817e+09,24680561.96,2.128952e+09,5.28,917.05,7.18,142.24,11.25,3.78,3.65,-0.092,48.0,-0.026,0.0040,-0.001,89.700,169.01
2022-12-01,2.462602e+08,1.498730e+09,27902345.50,1.735394e+09,5.24,875.66,6.99,135.08,11.25,3.10,3.65,29.120,15.2,29.120,30.1200,29.120,88.925,184.30
2023-01-01,2.677935e+08,1.734285e+09,23030631.25,1.667621e+09,4.10,826.34,5.10,130.42,11.25,4.33,3.65,-0.041,50.1,-0.001,0.0090,-0.007,75.225,198.82
2023-02-01,1.679317e+08,1.576804e+09,30035959.85,1.491082e+09,5.17,798.26,6.84,132.81,11.25,4.57,3.65,-0.016,52.6,-0.046,-0.0130,0.000,NaN,209.10
2023-03-01,2.456172e+08,1.817756e+09,46530955.23,2.024558e+09,5.21,809.50,5.10,133.81,11.25,4.65,3.65,-0.036,51.9,0.045,0.0030,0.000,NaN,203.58

## Eliminamos las filas con datos faltantes

In [ ]:
data.dropna(inplace = True)
data

,Celulosa,Cobre,Conservas y preparaciones de pescados y mariscos,Minerales de cobre y sus concentrados,Real_Brasil/ USD,Peso_Chile/ USD,Yuan_China/ USD,Yen_Japon/ USD,TPM_chile,TPM_usa,TPM_china,IPI_Chile,IPM_China,IPI_Japon,IPI_Brasil,IPI_EUA,Inv. de B.M.L. (Toneladas Metricas),Precio BM ($/mt)
2017-01-01,1.737715e+08,1.353766e+09,24070942.09,1.456703e+09,2.10,661.19,6.86,114.96,2.10,0.65,4.30,-0.011,51.30,0.005,-0.011,0.008,261.325,121.37
2017-02-01,1.841770e+08,1.183174e+09,22961853.75,8.475640e+08,2.10,643.21,6.84,113.00,3.25,0.66,4.30,-0.010,51.60,-0.008,-0.001,-0.003,203.100,128.72
2017-03-01,2.430942e+08,1.293973e+09,30652758.14,1.118963e+09,3.13,661.20,6.88,112.92,3.13,0.79,4.30,0.019,51.80,0.020,0.014,0.000,291.175,127.21
2017-04-01,1.935350e+08,1.214346e+09,27300293.46,7.986530e+08,3.14,655.74,6.89,110.28,2.88,0.90,4.30,-0.075,51.20,-0.021,-0.008,0.005,259.725,116.89
2017-05-01,2.017455e+08,1.323329e+09,37174585.32,1.208682e+09,2.10,671.54,6.88,112.26,2.65,0.91,4.30,0.019,51.20,0.040,0.011,0.010,311.150,111.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-01,2.768885e+08,1.659574e+09,36696297.27,1.928266e+09,5.22,921.01,6.01,142.87,10.55,2.56,3.65,-0.040,50.10,0.027,-0.005,-0.002,135.250,165.86
2022-10-01,2.331963e+08,1.425079e+09,25555370.49,1.281801e+09,5.25,955.89,7.19,146.93,10.01,2.01,3.65,29.120,17.02,29.120,30.120,30.120,113.125,161.61
2022-11-01,1.799459e+08,1.558817e+09,24680561.96,2.128952e+09,5.28,917.05,7.18,142.24,11.25,3.78,3.65,-0.092,48.00,-0.026,0.004,-0.001,89.700,169.01
2022-12-01,2.462602e+08,1.498730e+09,27902345.50,1.735394e+09,5.24,875.66,6.99,135.08,11.25,3.10,3.65,29.120,15.20,29.120,30.120,29.120,88.925,184.30
2023-01-01,2.677935e+08,1.734285e+09,23030631.25,1.667621e+09,4.10,826.34,5.10,130.42,11.25,4.33,3.65,-0.041,50.10,-0.001,0.009,-0.007,75.225,198.82

# ANÁLISIS POR VARIABLES